[*.cs]

# CS0675: Bitwise-or operator used on a sign-extended operand
dotnet_diagnostic.CS0675.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true:silent

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = silent
